.Login-container {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #343790 , #1BFFFF);
    /* Update with your desired gradient colors */

}

.form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(to right, #1BFFFF, #343790);
        color: #333;


}

.form-box {
    display: flex;
    flex-direction: column;
    /* Stack child elements vertically */
    align-items: center;
    /* Center child elements horizontally */
}

input {
    height: 40px;
}

.email,
.password,
.display-name {
    width: 100%;
    /* Make input fields fill the width */
    margin-bottom: 15px;
    /* Add spacing between input fields */
}

.btn-login {
    text-align: center;
    /* Center the button */
}
.btn {
    width: 70%;
    height: 50px;
    background-color: transparent;
    color: white;
    padding: 10px 0;
    font-size: 16px; /* Adjusted font size */
    font-weight: 600;
    border: 2px solid white; /* Updated border style */
    border-radius: 25px; /* Adjusted border radius */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Added transition effect */
  }
  
  .btn:hover {
    background-color: #090979;
    border-color: #090979; /* Updated border color on hover */
  }

.errorMessage {
    color: red;
    font-weight: 500;
    margin: 10px 0;
}

.sign-login {
    text-align: center;
    /* Center the sign-up/login text */
    margin-top: 20px;
    /* Add spacing at the top */
}

.rotate {
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
    /* Add a smooth transition effect */
}

@media screen and (max-width: 688px) {
    .form-container {
        width: 80%;
        /* Adjust width for smaller screens */
    }
}